workflow_fixed.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -540,
        200
      ],
      "id": "a09fa15f-a81f-47b5-923b-a61a077bddde",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1dN3VHNP5C_GP2-Cktymcrt3jKf9EZz1Nkv19khrk6a4",
          "mode": "list",
          "cachedResultName": "n8n music",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dN3VHNP5C_GP2-Cktymcrt3jKf9EZz1Nkv19khrk6a4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "工作表1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dN3VHNP5C_GP2-Cktymcrt3jKf9EZz1Nkv19khrk6a4/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "status",
              "lookupValue": "todo"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -320,
        200
      ],
      "id": "bdcbcb6a-5404-4156-8562-9c2544195267",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "a4u6qC2ph8F8xY3O",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.piapi.ai/api/v1/task",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "32adf6c9d509ddafa63de0feb3d6c90b96b695259210a724a0cffbeba71fe0d6"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"Qubico/diffrhythm\",\n  \"task_type\": \"txt2audio-full\",\n  \"input\": {\n    \"lyrics\": \"\",\n    \"style_prompt\": \"{{ $json.prompt }}\",\n    \"style_audio\": \"\"\n  },\n  \"config\": {\n    \"webhook_config\": {\n      \"endpoint\": \"\",\n      \"secret\": \"\"\n    }\n  }\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        440
      ],
      "id": "6c6bb8f6-3251-4969-b864-fff6045c446b",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "=https://api.piapi.ai/api/v1/task/{{ $json.data.task_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "32adf6c9d509ddafa63de0feb3d6c90b96b695259210a724a0cffbeba71fe0d6"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        440
      ],
      "id": "c74295ee-943b-4a82-addb-982c5002a8e3",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "url": "={{ (() => {\n  try {\n    const url = $json?.data?.output?.audio_url;\n    return (typeof url === 'string' && url.startsWith('http'))\n      ? url\n      : 'https://www.soundhelix.com/examples/mp3/SoundHelix-Song-1.mp3'; // fallback mp3\n  } catch (e) {\n    return 'https://www.soundhelix.com/examples/mp3/SoundHelix-Song-1.mp3';\n  }\n})() }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        440
      ],
      "id": "8de60ccd-f921-462d-8ed6-e52b56fac48c",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "name": "={{ $('Google Sheets').item.json.title }}.mp3",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "15qvOAfsdTv1mr1-Fw92BeAarZNRKZvKt",
          "mode": "list",
          "cachedResultName": "LoungeBar-Music",
          "cachedResultUrl": "https://drive.google.com/drive/folders/15qvOAfsdTv1mr1-Fw92BeAarZNRKZvKt"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        600,
        440
      ],
      "id": "f26abad5-68c2-41c9-9049-14a3a7f4109b",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "qKwiLwTXBhKxfnHp",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ $('Google Sheets').item.json.title }}.jpg",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        540,
        0
      ],
      "id": "506920a7-32e6-495c-8f4c-3cdeeb3809a5",
      "name": "Google Drive1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "qKwiLwTXBhKxfnHp",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1dN3VHNP5C_GP2-Cktymcrt3jKf9EZz1Nkv19khrk6a4",
          "mode": "list",
          "cachedResultName": "n8n music",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dN3VHNP5C_GP2-Cktymcrt3jKf9EZz1Nkv19khrk6a4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "工作表1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dN3VHNP5C_GP2-Cktymcrt3jKf9EZz1Nkv19khrk6a4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "index": "={{ $('Google Sheets').item.json.index }}",
            "status": "complete"
          },
          "matchingColumns": [
            "index"
          ],
          "schema": [
            {
              "id": "index",
              "displayName": "index",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "prompt",
              "displayName": "prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1540,
        220
      ],
      "id": "0d0a0b63-a1ce-4823-9924-070544894e42",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "a4u6qC2ph8F8xY3O",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "messages": {
          "messageValues": [
            {
              "message": "Create a prompt for a text to image generator based on the user's input. For reference, the user's input is for a text to music prompt. Your output will be used to generate an image that goes alongside the music"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        0,
        0
      ],
      "id": "6f92482b-f07a-45be-a755-76baf7bc7f7f",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "resource": "image",
        "prompt": "={{ $('Google Sheets').item.json.prompt }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        360,
        0
      ],
      "id": "6f45a000-62eb-4a98-9bdc-a0d52cada441",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "B18Y1uuHyHSI0Qb9",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        100,
        220
      ],
      "id": "89996e08-e855-4822-8463-6066659b3ac3",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "B18Y1uuHyHSI0Qb9",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/render",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"image_file\": \"{{ $json.cover_file }}\",\n  \"audio_file\": \"{{ $json.audio_file }}\",\n  \"outputName\": \"{{ $json.title }}.mp4\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1360,
        220
      ],
      "id": "aec174ea-fc4b-4691-a2c5-dd3b975ce5ad",
      "name": "HTTP Request4"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"cover_file\": \"{{ $('Google Drive1').item.json.webContentLink }}\",\n  \"title\": \"{{ $('Google Sheets').item.json.title }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        920,
        0
      ],
      "id": "3cc9fe97-a9e8-47ed-9671-61d1156740ec",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "share",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}\n",
          "mode": "id"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "reader",
            "type": "anyone"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        760,
        0
      ],
      "id": "ef52b5e9-f2a2-4940-af77-d907da7c3c54",
      "name": "Google Drive2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "qKwiLwTXBhKxfnHp",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "share",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}\n",
          "mode": "id"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "reader",
            "type": "anyone"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        760,
        440
      ],
      "id": "4b2f301e-3e70-4b77-841d-b9065eed92ef",
      "name": "Google Drive3",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "qKwiLwTXBhKxfnHp",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"audio_file\": \"{{ $('Google Drive').item.json.webContentLink }}\",\n  \"title\": \"{{ $('Google Sheets').item.json.title }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        940,
        440
      ],
      "id": "049f0705-0ee3-4432-8e8a-54eb9b21bfd9",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        1180,
        220
      ],
      "id": "74d3fb5e-8e9b-49fb-b814-3f4b8021154e",
      "name": "Merge"
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $('Google Sheets').item.json.title }}",
        "regionCode": "TW",
        "categoryId": "10",
        "options": {
          "privacyStatus": "unlisted"
        },
        "binaryProperty": "output"
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        3300,
        200
      ],
      "id": "1a2992a6-3336-4500-8e62-7d5b9b7233bc",
      "name": "YouTube",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "x6epSus6qdy49LOy",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"index\": \"{{ $('Google Sheets1').item.json.index }}\",\n  \"status\": \"uploaded\",\n  \"title\": \"{{ $('Google Sheets1').item.json.title }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3480,
        200
      ],
      "id": "6f4eaf8a-332b-40af-bf70-1d1a2d4002d6",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1dN3VHNP5C_GP2-Cktymcrt3jKf9EZz1Nkv19khrk6a4",
          "mode": "list",
          "cachedResultName": "n8n music",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dN3VHNP5C_GP2-Cktymcrt3jKf9EZz1Nkv19khrk6a4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "工作表1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dN3VHNP5C_GP2-Cktymcrt3jKf9EZz1Nkv19khrk6a4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "index",
              "displayName": "index",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "prompt",
              "displayName": "prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        3700,
        200
      ],
      "id": "291c38ea-6f01-4206-a0e2-54465e6da6f9",
      "name": "Google Sheets2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "a4u6qC2ph8F8xY3O",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        3080,
        200
      ],
      "id": "fe0ff1d4-c888-4899-9185-fa42e6b243e3",
      "name": "Merge1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      data: \"/data/my_n8n_videos/amber.mp4\"\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1880,
        80
      ],
      "id": "0793ea79-f936-42fa-999f-126e12d55c42",
      "name": "Code"
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.data }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        2320,
        80
      ],
      "id": "26090ca5-4b5a-42a8-bb3e-55deef65ac29",
      "name": "Read/Write Files from Disk"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Google Drive3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive1": {
      "main": [
        [
          {
            "node": "Google Drive2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Google Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive2": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive3": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          },
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "YouTube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f6f009dd-a387-47aa-a0c1-484f857a017e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "23a7cc503bf2298387e194a0204a1d4b2c9ed1ecfdcceadba5e8abc8f00cc921"
  },
  "id": "XFdvcOt90cJ1khMN",
  "tags": []
}
