workflow_v8.json
{
  "name": "0611-3",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -540,
        200
      ],
      "id": "c5b520a7-ae40-4a55-b1b3-bfd1d6715591",
      "name": "When clicking \u2018Execute workflow\u2019"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1dN3VHNP5C_GP2-Cktymcrt3jKf9EZz1Nkv19khrk6a4",
          "mode": "list",
          "cachedResultName": "n8n music",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dN3VHNP5C_GP2-Cktymcrt3jKf9EZz1Nkv19khrk6a4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "\u5de5\u4f5c\u88681",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dN3VHNP5C_GP2-Cktymcrt3jKf9EZz1Nkv19khrk6a4/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "status",
              "lookupValue": "todo"
            }
          ]
        },
        "options": {
          "returnFirstMatch": false,
          "limit": 12
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -320,
        200
      ],
      "id": "52a560f3-2e02-4035-8779-7afccd96ba45",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "a4u6qC2ph8F8xY3O",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.slice(0, 1);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -120,
        0
      ],
      "id": "c4dd7f2e-043f-4193-9fe0-e177502767fd",
      "name": "Take First Item"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.piapi.ai/api/v1/task",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "32adf6c9d509ddafa63de0feb3d6c90b96b695259210a724a0cffbeba71fe0d6"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"Qubico/diffrhythm\",\n  \"task_type\": \"txt2audio-full\",\n  \"input\": {\n    \"lyrics\": \"\",\n    \"style_prompt\": \"{{ $json.prompt }}\",\n    \"style_audio\": \"\"\n  },\n  \"config\": {\n    \"webhook_config\": {\n      \"endpoint\": \"\",\n      \"secret\": \"\"\n    }\n  }\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        440
      ],
      "id": "ffb3149e-12cc-4f3b-81af-8995076e6f05",
      "name": "HTTP Request"
    },
    {
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        440
      ],
      "id": "9f036418-2c1b-49a8-999c-2c5aab4cf35e",
      "name": "HTTP Request1",
      "parameters": {
        "jsCode": "const taskId = $json.data.task_id;\nconst apiKey = '32adf6c9d509ddafa63de0feb3d6c90b96b695259210a724a0cffbeba71fe0d6';\nfor (let i = 0; i < 20; i++) {\n  const res = await this.helpers.httpRequest({ method: 'GET', url: `https://api.piapi.ai/api/v1/task/${taskId}`, headers: { 'X-API-Key': apiKey }, json: true });\n  if (res.status === 'completed') return [{ json: res }];\n  await new Promise(r => setTimeout(r, 5000));\n}\nthrow new Error('Audio generation not completed in time');"
      }
    },
    {
      "parameters": {
        "url": "={{ (() => {\n  try {\n    const url = $json?.data?.output?.audio_url;\n    return (typeof url === 'string' && url.startsWith('http'))\n      ? url\n      : 'https://www.soundhelix.com/examples/mp3/SoundHelix-Song-1.mp3'; // fallback mp3\n  } catch (e) {\n    return 'https://www.soundhelix.com/examples/mp3/SoundHelix-Song-1.mp3';\n  }\n})() }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        440
      ],
      "id": "e27f15be-72ff-462b-81fd-5a1ddb09484d",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "name": "={{ $('Google Sheets').item.json.title }}.mp3",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "15qvOAfsdTv1mr1-Fw92BeAarZNRKZvKt",
          "mode": "list",
          "cachedResultName": "LoungeBar-Music",
          "cachedResultUrl": "https://drive.google.com/drive/folders/15qvOAfsdTv1mr1-Fw92BeAarZNRKZvKt"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        600,
        440
      ],
      "id": "24c16e48-1e09-4051-af5f-dabdb864b28c",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "qKwiLwTXBhKxfnHp",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "name": "={{ $('Google Sheets').item.json.title }}.jpg",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        540,
        0
      ],
      "id": "06a7435d-ec73-448d-9ae0-ff6f85de6eee",
      "name": "Google Drive1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "qKwiLwTXBhKxfnHp",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1dN3VHNP5C_GP2-Cktymcrt3jKf9EZz1Nkv19khrk6a4",
          "mode": "list",
          "cachedResultName": "n8n music",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dN3VHNP5C_GP2-Cktymcrt3jKf9EZz1Nkv19khrk6a4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "\u5de5\u4f5c\u88681",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1dN3VHNP5C_GP2-Cktymcrt3jKf9EZz1Nkv19khrk6a4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "index": "={{ $('Google Sheets').item.json.index }}",
            "status": "uploaded"
          },
          "matchingColumns": [
            "index"
          ],
          "schema": [
            {
              "id": "index",
              "displayName": "index",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "prompt",
              "displayName": "prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1540,
        220
      ],
      "id": "852221c5-a7d8-4a75-85ae-6916b805fb57",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "a4u6qC2ph8F8xY3O",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "messages": {
          "messageValues": [
            {
              "message": "Create a prompt for a text to image generator based on the user's input. For reference, the user's input is for a text to music prompt. Your output will be used to generate an image that goes alongside the music"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        0,
        0
      ],
      "id": "28aeb47c-1bfc-4cb0-8aea-2753f5002a9e",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "resource": "image",
        "prompt": "={{ $('Google Sheets').item.json.prompt }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        360,
        0
      ],
      "id": "7fbf4302-46e6-4119-a8aa-584d5c6227c0",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "B18Y1uuHyHSI0Qb9",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        100,
        220
      ],
      "id": "889a48ca-b8f9-444c-b65c-058c3b0a286a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "B18Y1uuHyHSI0Qb9",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/render",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"image_file\": \"{{ $json.cover_file }}\",\n  \"audio_file\": \"{{ $json.merged_audio_file }}\",\n  \"outputName\": \"{{ $json.title }}.mp4\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1360,
        220
      ],
      "id": "7116a27a-5549-45a4-9e32-49d4e6971ecf",
      "name": "HTTP Request4"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"cover_file\": \"{{ $('Google Drive1').item.json.webContentLink }}\",\n  \"title\": \"{{ $('Google Sheets').item.json.title }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        920,
        0
      ],
      "id": "dff5353e-9446-4170-a756-4b9c4cd15c46",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "share",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}\n",
          "mode": "id"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "reader",
            "type": "anyone"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        760,
        0
      ],
      "id": "e7a66871-274b-4cec-9623-882777719ec5",
      "name": "Google Drive2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "qKwiLwTXBhKxfnHp",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "share",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}\n",
          "mode": "id"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "reader",
            "type": "anyone"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        760,
        440
      ],
      "id": "35878e97-d247-42f9-b3ba-284ce1a28540",
      "name": "Google Drive3",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "qKwiLwTXBhKxfnHp",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"audio_file\": \"{{ $('Google Drive').item.json.webContentLink }}\",\n  \"title\": \"{{ $('Google Sheets').item.json.title }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        940,
        440
      ],
      "id": "40df9de3-4c35-4e22-8de1-ea08baf5d154",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "jsCode": "const title = items[0].json.title;\nconst audio_files = items.map(i => i.json.audio_file);\nreturn [{ json: { title, audio_files } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1180,
        440
      ],
      "id": "b1d2f80b-dc3a-4f47-9f67-1fbbe67c1234",
      "name": "Collect Audio Links"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/render",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"audio_files\": {{ $json.audio_files }},\n  \"outputName\": \"{{ $json.title }}_merged.mp3\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1360,
        440
      ],
      "id": "ad35c916-bf3f-4eb9-8c68-7d492093f0ed",
      "name": "Merge Audio"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"merged_audio_file\": \"{{ $json.audio_file || $json.merged_audio_file || $json.output_file }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1540,
        440
      ],
      "id": "8519b5a7-592e-4dfd-8b0c-7a6068ae1d42",
      "name": "Set Merged Audio"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        1180,
        220
      ],
      "id": "2aea4280-442c-4ee3-8256-9492624732cb",
      "name": "Merge"
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $('Google Sheets').item.json.title }}",
        "regionCode": "TW",
        "categoryId": "10",
        "binaryProperty": "output",
        "options": {
          "privacyStatus": "unlisted"
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        2480,
        200
      ],
      "id": "c9195c61-3445-4ebd-b617-36cbf7a922d8",
      "name": "YouTube",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "x6epSus6qdy49LOy",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        2280,
        200
      ],
      "id": "91284320-19a3-4977-b97b-f5bc548f8d3e",
      "name": "Merge1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      data: \"/data/my_n8n_videos/amber.mp4\"\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1780,
        80
      ],
      "id": "9099f4f8-5635-4af1-b9c5-d4f0e8dcbfff",
      "name": "Code"
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.data }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        2000,
        80
      ],
      "id": "10ef5aad-8b75-4c06-a7ee-66396fcf062a",
      "name": "Read/Write Files from Disk"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking \u2018Execute workflow\u2019": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Take First Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Google Drive3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive1": {
      "main": [
        [
          {
            "node": "Google Drive2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Google Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive2": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive3": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Collect Audio Links",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect Audio Links": {
      "main": [
        [
          {
            "node": "Merge Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Audio": {
      "main": [
        [
          {
            "node": "Set Merged Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Merged Audio": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          },
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube": {
      "main": [
        []
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "YouTube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Take First Item": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a13c3124-9763-4ea0-a3dc-d47ca39787f0",
  "meta": {
    "instanceId": "23a7cc503bf2298387e194a0204a1d4b2c9ed1ecfdcceadba5e8abc8f00cc921"
  },
  "id": "Lf9dvtMMXIfEnUrr",
  "tags": []
}
